@import "utils/variables";

.subheading {
  font-variant: small-caps;
}

.popular-actors-section {
  .actor-container {
    .actor {
      border: 2px outset $base-secondary-color;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 0 $blend-color;

      .actor-body-section {
        display: flex;

        .actor-name {
          font-variant: small-caps;
        }

        .actor-image {
          height: auto;
          border: 1px solid $base-secondary-color;
          box-shadow: 1px 1px 5px 0 $blend-color;
        }
      }
    }
  }
}