@import "utils/variables";

.actors-container {
  .container {
    min-height: 100vh;
  }
}

.subheading {
  font-variant: small-caps;
}

.popular-actors-section {
  .actor-container {
    .actor {
      border: 2px outset $base-secondary-color;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 0 $blend-color;

      .actor-body-section {
        display: flex;

        .actor-name {
          font-variant: small-caps;
        }

        .button-container {
          width: inherit;
          margin: 20px auto;

          .profile-button {
            font-size: medium;
            background-color: $header-font-color;
            color: #FFFFFF;
            box-shadow: 4px 5px 10px 0 #000;
            border: 1px solid $blend-color;
          }
        }

        .actor-image {
          height: auto;
          border: 1px solid $base-secondary-color;
          box-shadow: 1px 1px 5px 0 $blend-color;
        }
      }
    }

    .card-img-top {
      min-height: 339.33px;
    }
  }
}

.splide {
  .splide__arrow:focus-visible {
    outline: 3px solid $base-secondary-color;
  }

  .splide__pagination {
    position: absolute;
    bottom: -6px;
  }
}