@import "./utils/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $base-color;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  width: 100vw;
  background-color: $header-color;
  border-bottom: .5px solid $border-color;
  box-shadow: 19px -2px 20px 0 $border-color;

  .navbar.navbar-expand-lg.navbar-light {
    width: 80vw;

    .navbar-brand {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      line-height: 1rem;
      color: $header-font-color;

      .logo-main-text {
        font-family: $logo-main-font;
      }

      .logo-sub-text {
        font-family: $logo-sub-font;
        color: $font-color;
      }
    }

    .navbar-toggler {
      background-color: $base-secondary-color;
    }

    .nav-link {
      color: $font-color;

      .menu-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

        .nav-icon {
          fill: $base-secondary-color;
          width: 25px;
          height: auto;
        }

        h6 {
          font-weight: bold;
        }
      }
    }

    .search-container {
      justify-self: flex-end;

      .search-input {
        border: 1px solid $header-color;
        color: $header-font-color;
        padding-right: 2.5rem;
      }

      .search-button {
        color: $header-font-color;
        position: absolute;
        right: 0;
      }
    }
  }
}
