@import "./utils/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $base-color;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  background-color: $header-color;
  border-bottom: .5px solid $border-color;
  box-shadow: 19px -2px 20px 0 $border-color;

  .navbar.navbar-expand-lg.navbar-light {
    width: 80vw;

    .navbar-brand {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      line-height: 1rem;
      color: $header-font-color;

      .logo-main-text {
        font-family: $logo-main-font;
      }

      .logo-sub-text {
        font-family: $logo-sub-font;
        color: $font-color;
      }
    }

    .navbar-toggler {
      background-color: $base-secondary-color;
    }

    .navbar-collapse {
      .nav-link {
        color: $font-color;
        cursor: pointer;

        .menu-item-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-self: center;

          .nav-icon {
            fill: $base-secondary-color;
            width: 25px;
            height: auto;
          }

          h6 {
            font-weight: bold;
          }
        }
      }
    }

    .search-container {
      justify-self: flex-end;
      border: 1px solid $base-secondary-color;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 0 $blend-color;
      background-color: #FFFFFF;
      font-size: medium;

      .css-b62m3t-container {
        width: 75%;
        vertical-align: middle;
        z-index: 10;
      }

      .search-input {
        color: $header-font-color;
        padding-right: 3.5rem;
        width: 100%;
        margin: 0;
      }

      .search-button {
        color: $header-font-color;
        position: absolute;
        right: 0;
      }
    }
  }
}

.search-results {
  position: absolute;
  list-style: none;
  z-index: 1;
  max-height: 400px;
  margin: 37px 0 0 0;
  padding: 0;
  overflow-y: scroll;

  li {
    float: left;
    width: 100%;
    background-color: $base-color;
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    padding: 1rem;
    position: relative;

    a {
      color: $font-color;
      text-decoration: none;
      font-weight: bolder;

      div {
        display: flex;
        align-items: center;
        width: 100%;

        img {
          width: 100px;
          border: 1px solid $border-color;
        }

        p {
          margin-left: 1rem;
        }
      }
    }
  }

  li:first-child {
    border-top: 2px solid $border-color;
  }
}