@import "./utils/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $base-color;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .navbar.navbar-expand-lg.navbar-light {
    .navbar-brand {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      line-height: 1rem;
      color: $header-color;

      .logo-main-text {
        font-family: $logo-main-font;
      }

      .logo-sub-text {
        font-family: $logo-sub-font;
      }

      .navbar-toggler {
        color: $header-color;
      }
    }

    .nav-link {
      color: $header-color;
    }

    .search-input, .search-button {
      border: 1px solid $header-color;
      color: $header-color;
    }
  }
}
