@import "utils/variables";

.card {
  border: 1px solid $base-secondary-color;
  box-shadow: 1px 1px 5px 0 $blend-color;

  .card-img-top {
    border-bottom: 1px solid $base-secondary-color;
    box-shadow: 1px 1px 5px 0 $blend-color;
    min-height: 256.99px;
    height: 301.98px;
  }

  .card-body {
    .card-title {
      font-size: small;
    }

    .rating {
      font-size: small;
    }

    .card-text {
      font-size: x-small;
    }

    .read-more {
      font-size: medium;
      background-color: $header-font-color;
      color: #FFFFFF;
      box-shadow: 4px 5px 10px 0 #000;
      border: 1px solid $blend-color;
    }
  }
}

.splide {
  .splide__arrow:focus-visible {
    outline: 3px solid $base-secondary-color;
    outline-offset: 3px;
  }

  .splide__pagination {
    position: absolute;
    bottom: 5px;

    .splide__pagination__page {
      background-color: $blend-color;
      opacity: .9;

      &.is-active {
        background-color: $header-font-color;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .card {
    .card-img-top {
      height: 256.99px;
    }
  }
}