@import "utils/variables";

.home-container {
  overflow-y: hidden;
  min-height: 83vh;

  .section {
    padding: 1rem 0;

    .main-container {
      .category-header-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: stretch;
        justify-content: flex-end;
        width: 100%;
        min-height: 50px;
      }

      .categories-section-container {
        margin: 1.5rem 0 0 0;
      }
    }
  }
}

.splide {
  .splide__arrow:focus-visible {
    outline: 3px solid $base-secondary-color;
    outline-offset: 3px;
  }
}

@media screen and (max-width: 1280px) {
  .home-container {
    .section {
      .main-container {
        .categories-section-container {
          margin: 0;
        }
      }
    }
  }
}