@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&display=swap');

$base-color: #121203;
$header-color: #141203;
$header-font-color: #E71;
$border-color: #E71;
$base-secondary-color: #E71;
$blend-color: #F29340;
$font-color: #FFF;
$logo-main-font: 'Anton', sans-serif;
$logo-sub-font: 'Dancing Script', cursive;